@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #262b42;
  color: white;
}

.coin-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.coin-text {
  font-size: 24px;
}

.coin-input {
  width: 300px;
  height: 45px;
  margin-top: 12px;
  padding: 6px;
  outline: none;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #573280;
}

.coin-input::placeholder{
  color: #989FCE;
}